<%- model_class = Employee -%>
<div class="page-header">
  <h1><%=t '.title', :default => 'Employees' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= link_to employee.name, employee_path(employee.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id='calendar' data-events="<%= @events.all_events.to_json %>" data-start-date="<%= @events.start_date %>"></div>

